header{
  border-bottom: 1px solid #ddd;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1{
  font-weight: 700;
}
.cartbox{
  position: relative;
}
.cart{
  font-size: 30px;
  cursor: pointer;
}
.cart span{
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(220,100,162);
  color: #fff;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  border-radius: 50%;
  z-index: 2;
  top: 0;
  left: 0;
}
.cartbox img{
  width: 80px;
  float: left;
}